@model RedeSocial.MVC.Models.AdicionarUsuarioViewModel
@{
    ViewData["Title"] = "Adicionar";
}

<h4>Usuário</h4>

@{
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.NomeUsuario" class="control-label"></label>
                <input asp-for="Usuario.NomeUsuario" class="form-control" />
                <span asp-validation-for="Usuario.NomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.SenhaUsuario" class="control-label"></label>
                <input asp-for="Usuario.SenhaUsuario" class="form-control" type="password"/>
                <span asp-validation-for="Usuario.SenhaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.EmailUsuario" class="control-label"></label>
                <input asp-for="Usuario.EmailUsuario" class="form-control" />
                <span asp-validation-for="Usuario.EmailUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.TelefoneUsuario" class="control-label"></label>
                <input asp-for="Usuario.TelefoneUsuario" class="form-control" />
                <span asp-validation-for="Usuario.TelefoneUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.NomeCompletoUsuario" class="control-label"></label>
                <input asp-for="Usuario.NomeCompletoUsuario" class="form-control" />
                <span asp-validation-for="Usuario.NomeCompletoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select id="Usuario.PerfilId" name="Usuario.PerfilId">
                    @{
                        if (Model.Perfis != null)
                        {
                            foreach (var perfil in Model.Perfis)
                            {
                                <option value="@perfil.PerfilId">@perfil.NomePerfil</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
